.Header  {

  background-image: url("../images/the-flatiron-building.png");
  font-family: Helvetica;
  color: white;
}

h1 {

  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

a {

  font-size: 18px;
  color: white;
}

p,
h3,
h4 {
  font-family: Helvetica;
  text-align: center;
}

.Middle {

  text-align: center;
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
}

.Footer  {

  font-family: Helvetica;
  background-color: dimgray;
}

span  {

  font-family: Helvetica;
  font-size: 11px;
  color: white;
}
